body {
    background-image: url("orange.jpg");
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
}
h1 {
    color: #eecc66;
    font-size: 6em; 
    border: 5px black solid;
    background-image: url("black2.JPG");     
}
h2{
    color: blue;
    font-size: 4em;
}
h3{
    color: blue;
    font-size: 5em;
}
.container{
    width: 120em;
}

.triptext{
    font-size: 3em;
}

.borderimage{
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.footer {
    width: 120em;
    height: 2em; 
    background-color:black;
    text-align: center;
    color:#eecc66;
    clear: both;
}
.sidenav {
    float: left;
    text-align:left;
    margin: 1cm;
    width: 15em;
    margin-top:1em;
    height:20em;
background-image: url("black2.JPG");
font-size:2em;
color: #eecc66;
border: 2px black solid;
}
.sidenav a, .sidenav a:visited {color: #eecc66;
}
.sidenav a:hover, .sidenav a:active, .sidenav a:focus {background-color: gray; color:black;}
.sidenav li {
    width: 10em; padding: 0.5em;
}
.sidenav ul{list-style-type: none;
}
.content {
    float: left;
    width: 80em;
    padding-bottom: 4em;
}

